
a {
    text-decoration: none;
  }
  
  nav {
    font-family: monospace;
  }
  
  ul {
    background: white;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  
  li {
    color: black;
    background: white;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
    
  li a {
    color: black;
  }
  
  .boardName:hover,
  .boardName:focus-within {
    background: gray;
    cursor: pointer;
  }

  .saveButton {
    visibility: hidden;
    color: white;
    background-color: red;
    border-radius: 25px;
    border: none;
    padding: 10px 20px;
    margin-left: auto;
    font-size: 18px;
  }
  
  .boardName:hover .saveButton {
    visibility: visible;
  }
  
  
  
  li:focus-within a {
    outline: none;
  }
  
  ul li ul {
    background: orange;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }
  
  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
    
  }
  
  ul li ul li {
    clear: both;
    width: 100%;

  }

  .dropdown{
  width: 300px;
  border-color: black;
  border-radius: 25px;
  border-width: 2px;
  background-color: green;
}


.dropdownContainer{
  max-height: 500px;
  width: 350px;
  /* overflow-y: scroll; */
  position: absolute;
  z-index: 30;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.miniBoardList{
  overflow-y: scroll;
}

.dropdownContainerCenter{
  /* justify-content: center; */
  text-align: center;
  padding: 10px;
  font-family: apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3,Hiragino Kaku Gothic Pro,ãƒ¡ã‚¤ãƒªã‚ª,Meiryo,ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-weight: 600;
  font-size: 16px; 
}

.topleftTopright{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-top: 20px;
}

.bottomleft{
  border-bottom-left-radius: 25px;
  border: none;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  height: 100%;
}

.bottomRight{
  border-bottom-right-radius: 25px;
  /* border: none; */
  /* z-index: 1000; */
}

.smallimgTest{
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 20px;
  padding: 10px;
}

.smallimgTest2{
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 20px;
  /* padding-right: 20px; */
}

.boardlistliCon{
  display: flex;
  align-items: center;
  align-self: center;
}

.dropdownmenudivText{
  font-size: 20px;
  color:white;
  /* padding: 20px; */
}

.createBoardContainer{
  padding: 0;
  /* margin-top: 20px; */
  display: flex;
}

.createBoardContainer > form{
  /* height: 500px; */
  width: 75%;
  /* font-weight: 600; */
  /* font-size: 16px; */
} 


.createBoardContainer > input{
  font-weight: 600;
  font-size: 16px;
}

.createBoardContainer > button{
  height: 50px;
  width: 25%;
  font-weight: 600;
  font-size: 16px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
}