.message{
    fill: gray;

}

.pintrestIcon{
    /* background-color: red; */
    fill: #c00;
    padding-right:12px ;
}

.bell{
    fill: rgb(118, 118, 118);
}

.currentPage{
    background-color: black;
    border-radius: 25px;
    color: white !important;
}