.homePageContainer{

}


.homePageBody{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
}

.homePageBody > *{
    /* max-width: 20vw; */
}

.homepagePins{
    max-width: 300px;
}

.homePageBodyFlex{
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}