/* .realCreateFormContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.realCreateFormContainerInner{
    width: 25%;
    border: solid gray;
    border-width: 1 1px;
    border-radius: 25px;
    padding: 60px 20px;
}

.realCreateFormForm{
    display: flex;
    flex-direction: column;
}

.realCreateFormFormInput{
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
} */

.realCreateFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .realCreateFormContainerInner {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .realCreateFormFormInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
  }
  
  .createPinButton,
  .awsCreateButton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #e60023;
    color: #fff;
    cursor: pointer;
  }
  
  .createPinButton:hover,
  .awsCreateButton:hover {
    background-color: #ff0039;
  }
  
  .createPinButton:focus,
  .awsCreateButton:focus {
    outline: none;
    box-shadow: 0 0 0 2px #ff0039;
  }
  

  .file-input-label {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 400px; /* Set the desired width for the file input */
    height: 800px; /* Set the desired height for the file input */
    background-color: #f2f2f2;
    border: 5px dashed #ccc;
    border-radius: 10px;
    position: relative;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .upload-text {
  font-size: 20px;
}
  
  .upload-icon {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  